.app__btn-main,
.app__btn-outline {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--colors-primary-d300);
  //border-radius: 2px;
  white-space: nowrap;
  outline-color: transparent;
  gap: .5rem;
  text-decoration: none;
}

.app__btn-main {
  background: var(--colors-primary);
  color: white;
}

.app__btn-outline {
  color: var(--colors-primary);
}

// Sizes
.app__btn-md {
  font-size: 1rem;
  padding: .35rem .625rem;
  font-weight: 500;
}

.app__btn-lg {
  font-size: 1.125rem;
  padding: .625rem .875rem;
  font-weight: 500;
}

.app__btn-xlg {
  font-size: 1.25rem;
  padding: .875rem 1rem;
  font-weight: 500;
}