.app__gb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  border: dashed 1px var(--colors-primary-l200);
  position: relative;
  width: 52px;

  &.app__gb--d2 {
    border: dashed 1px #ca3c1d;
  }

  &.app__gb--cs {
    border: dashed 1px #C3943F;
  }

  &:hover {
    cursor: pointer;

    &.app__gb--d2 .app__gb-img-cont {
      background-color: #ca3c1d;
    }

    &.app__gb--cs .app__gb-img-cont {
      background-color: #C3943F;
    }
  }
}

.app__gb-status {
  position: absolute;
  right: -4px;
  bottom: -4px;
  background-color: rgba(62, 62, 62, 0.8);
  border-radius: 2px;
  padding: 2px;
  display: inline-flex;
  opacity: .7;

  .lucide {
    width: 16px;
    height: 16px;
  }
}

.app__gb-status--active {
  color: var(--colors-success400);
}

.app__gb-status--waiting {
  color: var(--colors-warning400);
}

.app__gb-img-cont {
  width: 48px;
  height: 48px;
  border-radius: 2px;
  //background-color: var(--colors-primary-l300);
}
