.app__header {
  border-bottom: var(--border);
  background-color: var(--colors-bg-surface);
}

.header__container {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container-right {
  display: flex;
  align-items: center;
  gap: 12px;
}