@use '../grid_breakpoint' as *;
@use 'sass:map';


.pr-game {
  .app-container {
    padding: 4rem 1.5rem;
  }
}

.pr-game--d2 {
  background-color: var(--colors-bg-surface-second);

  .app-container {
    border: 1px dashed var(--color-game-d2);
  }
}

.pr-game--cs {
  background-color: #f3ebdc;

  .app-container {
    border-left: 1px dashed var(--color-game-cs);
    border-right: 1px dashed var(--color-game-cs);
    border-bottom: 1px dashed var(--color-game-cs);
  }
}

.pr-game__header {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 0 0 4rem;
}

@media screen and (max-width: map.get($grid-breakpoints, 'md')) {
  .pr-game {
    .app-container {
      padding: 2rem 1.5rem;
    }
  }

  .pr-game__header {
    padding: 0 0 2rem;
  }
}

@media screen and (max-width: map.get($grid-breakpoints, 'sm')) {
  .pr-game__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      text-align: left;
    }
  }
}

.pr-game__middle {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.pr-game__middle-l,
.pr-game__middle-r {
  flex: 1;
  padding: 2rem 0;
}

@media screen and (max-width: map.get($grid-breakpoints, 'lg')) {
  .pr-game__middle {
    flex-direction: column;
    align-items: initial;
    margin-top: 1rem;
  }

  .pr-game__middle-l,
  .pr-game__middle-r {
    padding: 1rem 0;
  }
}

.pr-game__feature-list {
  list-style-type: circle;
  padding: 0;
  margin: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pr-game__actions {
  padding-top: 1rem;
}

.pr-game__client-link {
  img {
    filter: grayscale(75%);
  }

  &:hover {
    img {
      filter: none;
    }
  }
}

.pr-game--in-progress {
  .pr-game--in-progress-title {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 500;
    color: var(--colors-primary);
  }

  .pr-game--in-progress-suffix {
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--colors-pecharm);
  }
}