:root {
  font-family: 'Inter', sans-serif;
  --font-family: 'Inter', sans-serif;

  --border: dashed 1px #d5cdb7;

  --app-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  --colors-zekrom: #2b2b2e;
  --colors-pancham: #38383a;
  --colors-pangoro: #383a3b;
  --colors-pecharm: #7a7f7f;          // unique
  --colors-pearl: #dddddd;

  --colors-bg-surface: #f8f6f2;
  --colors-bg-surface-second: #f3efe3;

  --colors-primary-d700: #0b1a25;
  --colors-primary-d600: #0f2332;
  --colors-primary-d500: #132c3e;
  --colors-primary-d400: #17344a;
  --colors-primary-d300: #1b3d57;
  --colors-primary-d200: #1e4663;
  --colors-primary-d100: #224e70;
  --colors-primary: #26577c;
  --colors-primary-l100: #3c6889;
  --colors-primary-l200: #517996;
  --colors-primary-l300: #6789a3;
  --colors-primary-l400: #7d9ab0;
  --colors-primary-l500: #93abbe;
  --colors-primary-l600: #a8bccb;
  --colors-primary-l700: #becdd8;
  --colors-primary-l800: #d2deea;

  --colors-error50: #fdedec;
  --colors-error100: #facac6;
  --colors-error200: #f7a6a0;
  --colors-error300: #f3837a;
  --colors-error400: #ce5a67;
  --colors-error500: #ee3d30;
  --colors-error600: #c33128;
  --colors-error700: #972720;
  --colors-error800: #6d1b17;
  --colors-error900: #41110d;
  --colors-error1000: #160504;

  --colors-warning50: #fcf4c0;
  --colors-warning100: #faed97;
  --colors-warning200: #fcf4c0;
  --colors-warning300: #f7e76e;
  --colors-warning400: #f6e045;
  --colors-warning500: #f4da1e;
  --colors-warning600: #c9b419;
  --colors-warning700: #9b8b13;
  --colors-warning800: #70640d;
  --colors-warning900: #433b09;
  --colors-warning1000: #171303;

  --colors-success50: #f3f9ed;
  --colors-success100: #daedcd;
  --colors-success200: #c3e0aa;
  --colors-success300: #aad68a;
  --colors-success400: #93ca68;
  --colors-success500: #7abe47;
  --colors-success600: #649d3a;
  --colors-success700: #4e7a2e;
  --colors-success800: #375721;
  --colors-success900: #213413;
  --colors-success1000: #0b1206;

  --header-height: 60px;
}
